*{
    font-family: "Barlow Condensed", sans-serif;
    /* background-color: black; */
}
.contactpage{
    /* border: 2px solid red; */
    width: 63%;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(35, 30, 30);
    height: 580px;
    float: right;
    position: relative;
    right: 7%;
    top: 30px;
    
}
.name1{
    /* border: 2px solid red; */
    width: 47%;
    margin-top: 45px;
    color: white;
    background-color: rgb(35, 30, 30);

    
}
.input1{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgb(35, 30, 30);
    color: white;
}
.name2{
    /* border: 2px solid red; */
    width: 90%;
    margin-top: 40px;
    color: white;
    background-color: rgb(35, 30, 30);


}
.input-2{
    width: 99%;
    background-color: rgb(35, 30, 30);

}

.formbtn{
    /* display: block; */
    width: 130px;
    background-color: red;
    color:white ;
    margin-top: 8%;
    height: 40px;
}

.contact{
    /* border: 2px solid red; */
    /* display: block; */
    width: 100%;
    font-size: 2rem;
    color: white;
    background-color: rgb(35, 30, 30);

    
}

.contact-h3-1, .label1{
    background-color: rgb(35, 30, 30);

}
/* 
.label1{-
    background-color: rgb(35, 30, 30);
    
} */


@media screen and (max-width:426px) {
    .contactpage{
        /* border: 2px solid red; */
        width: 90%;
        margin-right:-2%;
    }
    
}